.cards-swiper .swiper-slide {
  border-radius: 16px;
  padding: 20px;
}

/* .cards-swiper .swiper-wrapper {
  margin-left: 30%;
  width: 70%;
} */

/* .cards-swiper {
  width: 288px;
} */

.cards-swiper .swiper-pagination {
  margin-top: 16px;
}

.swiper-pagination-bullets {
  --swiper-pagination-color: var(--text);
  --swiper-theme-color: var(--text);
  --swiper-pagination-bullet-inactive-color: var(--text);
  transform: translateY(20px) translateX(-50%) !important;
}
