.carousel {
  height: 100%;
  --swiper-navigation-size: 26px;
  --swiper-navigation-color: var(--text);
  --swiper-navigation-top-offset: 45%;
}

.carousel.category {
  width: calc(100vw);
}

.carousel.mineral {
  width: calc(100vw);
}

@media (min-width: 1024px) {
  .carousel.mineral {
    width: calc(50vw);
  }
}

.carousel .swiper-slide {
  width: min-content;
  padding: 15px 8px;
}

.carousel .swiper-slide:first-child {
  padding-left: 16px;
}

.carousel .swiper-slide:last-child {
  padding-right: 16px;
}

@media (min-width: 768px) {
  .carousel .swiper-slide {
    width: min-content;
    padding: 15px;
  }

  .carousel .swiper-slide:first-child {
    padding-left: 96px;
  }

  .carousel .swiper-slide:last-child {
    padding-right: 96px;
  }
}

.carousel.mineral .swiper-slide:first-child {
  padding-left: 40px;
}

.carousel.mineral .swiper-slide:last-child {
  padding-right: 40px;
}

@media (max-width: 767px) {
  .carousel.mineral .swiper-slide:first-child {
    padding-left: 16px;
  }

  .carousel.mineral .swiper-slide:last-child {
    padding-right: 16px;
  }
}

.carousel .swiper-button-prev,
.carousel .swiper-button-next {
  width: 50px;
  height: 50px;
  border-radius: 999px;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  transition: opacity 0.2s linear;
}
@media (max-width: 767px) {
  .carousel .swiper-button-prev,
  .carousel .swiper-button-next {
    display: none;
  }
}

.carousel .swiper-button-prev {
  padding-right: 3px;
}

.carousel .swiper-button-next {
  padding-left: 3px;
}

.swiper-button-disabled {
  opacity: 0 !important;
  transition: opacity 0.2s linear;
}
