@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .shadow-base {
    box-shadow: 2px 4px 12px #00000014;
  }
  .shadow-hover {
    box-shadow: 2px 4px 16px #00000029;
  }
}

:root {
  --text: #000000;
  --inv-text: #ffffff;
  --accent: rgb(0, 82, 204);
  --bg: #f5f5f7;
  --bg-light: #ffffff;
  --scrollbar: #c0c0c0;
  --element: #ffffff;
  --element-hover: rgb(241, 241, 241);
}

[class='dark'] {
  --text: #ffffff;
  --inv-text: #000000;
  --accent: rgb(0, 82, 204);
  --bg: #000000;
  --bg-light: #141414;
  --scrollbar: #2b2b2b;
  --element: rgb(39, 39, 42);
  --element-hover: rgb(47, 47, 50);
}

html,
body {
  color: var(--text);
  background-color: var(--bg) !important;
  user-select: none;
}

body {
  width: 100%;
  user-select: none;
  cursor: default;
  overflow-y: scroll;
  box-sizing: border-box;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  justify-items: center;
  overflow-x: hidden;
}

[data-overlay-container] {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
p {
  letter-spacing: -0.025em;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

/* Scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar) transparent;
}

/* Scrollbar for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar) transparent;
}

/* Scrollbar for WebKit (Chrome, Safari) */

/* *::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  border-radius: 5px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
} */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: var(--text) !important;
  transition: background-color 5000s ease-in-out 0s;
}
